html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

h3 {
  color: #fff;	
  text-align: center;
}

#map {
  height: 100%;
  width: 80%;
  float: left;
}

#menu {
  height: 100%;
  width: 19%;
  float: left;
  background-color: #7698B4;	
  border-right: 3px solid #777;
}

button, input {
  font-size: 12px;	
}

.text {
  font-size: 14px;	
  margin: 10px 6px;
  color: #fff;
  line-height: 15px;
}

#places-search {
  width: 70%;
  margin-left: 6px;
}

#go-places {
  width: 24%;	
}

#show-listings, #hide-listings {
  width: 45%;
  margin-left: 5px;	
}

@media screen and (max-width: 965px) {
	#map {
		width: 70%;	
	}
	
	#menu {
		/*border: none;*/
		width: 29%;	
	}
}

@media screen and (max-width: 525px) {
	#map {
		width: 100%;	
	}
	
	#menu {
		border-bottom: 3px solid #777;
		width: 100%;	
	}
}

