html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.title h1 {
  margin: 0;
  font-size: 30px;
  padding-top: 19px;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px #000;
}

h3 {
  color: #fff;	
  text-align: center;
}

#map {
  height: 100%;
  width: 80%;
  float: left;
}

#menu {
  height: 100%;
  width: 19%;
  float: left;	
  border-right: 3px solid #ccc;
  background-color: #aee9c6;
}

#places-search {
  width: 90%;
  height: 30px;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 15px;
}

#go-places {
  width: 18%;	
}

.item-selected {
    color: #fff;
}

.location-title {
    font-size: 1.2em;
}

.location-list-item {
	margin: 12px 15px 12px -25px;	
	list-style: none;
	cursor: pointer;
	color: #333;
}

li:hover {
	background-color: #fff;
	border-radius: 2px;
	padding: 2px;
	margin: -2px 15px -2px -27px;
}

.highlight {
	color: red;	
}

.title-bar {
	width: 100%;
	background-color: #71b0eb;
	height: 75px;
}


@media screen and (max-width: 965px) {
	#map {
		width: 70%;	
	}
	
	#menu {
		width: 29%;	
	}
}

@media screen and (max-width: 525px) {
	#map {
		width: 100%;	
	}
	
	#menu {
		border-bottom: 3px solid #777;
		width: 100%;
		height: auto;	
	}
	
	.location-list-item {
  	    font-size: 14px;
		margin: 8px 15px 8px -25px;
	}
	
	#places-search {
		margin-bottom: 8px;
	}
	
	input {
		height: 20px;	
		font-size: 12px;
	}
	
	.title h1 {
	  font-size: 22px;
	  padding-top: 17px;
	  letter-spacing: 3px;
	}
}